version: "3.9"

services:
  frontend:
    build:
      context: ../../frontend
    ports:
      - "5173:5173"
    volumes:
      - ../../frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  backend:
    build:
      context: ../../backend
    ports:
      - "5001:5001"
    environment:
      - MONGO_URL=mongodb://mongo:27017/engagecart
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
